<div class="editable-card grid-container" id="education">
  <div class="title grid-item">
    <h2 class="subtitle">Education</h2>
  </div>
  <div class="more grid-item grid-item-l">
    <button class="more-b b"></button>
  </div>
  <div class="info-card grid-item">
    <img alt="" class="icon" id="famaf">
    <div>
      <h3>UNC - FAMAF</h3>
      <p>Licenciatura en Ciencias de la Computación</p>
    </div>
  </div>
  <div class="buttons grid-item grid-item-l">
    <button class="edit-b b"></button>
    <button class="delete-b b"></button>
  </div>
  <div class="info-card grid-item">
    <img alt="" class="icon" id="balseiro">
    <div>
      <h3>IPET N 66 - BALSEIRO</h3>
      <p>Técnico en Electrónica</p>
    </div>
  </div>
  <div class="buttons grid-item grid-item-l">
    <button class="edit-b b"></button>
    <button class="delete-b b"></button>
  </div>
</div>