.graph{
  height: 20px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.res-prob{
  height: 100%;
  width: 70%;
  background-color: green;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.dis-sis{
  height: 100%;
  width: 40%;
  background-color: green;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.editable-card{
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 20px;
}

.icon{
  width: auto;
  height: 100px;
  margin: 0px 20px;
}

.info-card{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grid-item-l{
  justify-self: end;
  align-self: center;
}

.b{
  all: unset;
  cursor: pointer;
  background-size: cover; 
  background-position: center;
  width: 25px;
  height: 25px;
}

.edit-b{
  background-image: url('../../../assets/edit-text.png');
}

.delete-b{
  background-image: url('../../../assets/delete.png');
}

.more-b{
  background-image: url('../../../assets/plus.png');
}

.b:hover{
  width: 30px;
  height: 30px;
}
