<div class="editable-card grid-container" id="experience">
  <div class="title grid-item">
    <h2 class="subtitle">Experience</h2>
  </div>
  <div class="more grid-item grid-item-l">
    <button class="more-b b"></button>
  </div>
  <div class="info-card grid-item">
    <img alt="" class="icon" id="tecme">
    <div>
      <h3>TECME</h3>
      <p>Fábrica de respiradores artificiales</p>
    </div>
  </div>
  <div class="buttons grid-item grid-item-l">
    <button class="edit-b b"></button>
    <button class="delete-b b"></button>
  </div>
</div>