.section{
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon{
  width: auto;
  height: 100px;
  margin: 0px 20px;
}

.b{
  all: unset;
  cursor: pointer;
  background-size: cover; 
  background-position: center;
  margin: 10px;
  width: 25px;
  height: 25px;
}

.edit-b{
  background-image: url('../../../assets/edit-text.png');
}

.delete-b{
  background-image: url('../../../assets/delete.png');
}

.more-b{
  background-image: url('../../../assets/plus.png');
}

.b:hover{
  width: 30px;
  height: 30px;
}

.subsection{
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}